<section id="Buddyfulldata">
  <div class="row">
    <div class="biodatapage">
      {{!-- 1st box start  --}}
    <div class="row boxonecontent">
      <div class="col-md-6">
        <div class="buddyimage">
          <img src="/static/images/kaif.jpeg" alt="Buddy1">
        </div>
      </div>
      <div class="col-md-6 aboutbuddybox"> 
        <div class="aboutbuddy">
          <h3>Your Name</h3>
          <p>⭐⭐⭐⭐</p>
          <p>City: Maansarovar, jaipur Rajasthan, 8XXXXX1</p>
          <p>County: India</p>
          <p>Email: <a href="mailto:its99raj@gmail.com">its99raj@gmail.com</a></p>
          <p>Contact: <span>8540959950</span></p>
          <div class="row profilebuttonbox">
            <div class="col-md-6">
              <a href="/user">
              <button class="profilemsgbookbtn" onclick="profileedit()">Edit</button>
              </a>
              </div>
            <div class="col-md-6"><button class="profilemsgbookbtn" onclick="userprofdelete()">Delete</button></div>
          </div>
        </div> 
      </div>
    </div> 

    {{!-- 2nd Box start --}}
    
    <div class="row boxtwocontent">
      <div class="col-md-12">
       <b>About:</b>
        <span class="BuddyVal">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, cumque! </span>
      </div>
      <div class="row dobGender">
        <div class="col-md-4">
          <span><b>DOB-</b></span> <span class="BuddyVal">12 August 2002</span>
        </div>
        <div class="col-md-4">
          <span><b>Age :</b></span> <span class="BuddyVal">22</span>
        </div>
        <div class="col-md-4">
          <span><b>Gender :</b></span> <span class="BuddyVal">Male</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span><b>Hobbies:-</b></span> <span class="BuddyVal">Listening Music, Reading Books, Dancing , Exploring </span>
        </div>
      </div>
    </div>

    {{!-- 3rd Box start  --}}
    
    <div class="row boxthreecontent">
      <div class="row">
        <div class="col-md-12 headingboxthree">
          <h3>  Area Known </h3>
        </div>
        <div class="col-md-12 areadatalist">
        <ol>
          <li>Pachmadi</li>
          <li>Ujjain</li>
          <li>Mathura</li>
          <li>Hawamahal</li>
          <li>Indore</li>
        </ol>

        </div>
        
      </div>
    </div>

    {{!-- 4th box start Post and image box --}}
    <div class="row boxfourcontent">
      <div class="row">
        <div class="col-md-12 ms-5"><h3>Posts</h3></div>
        <div class="row boxfourimagevideo ">
            <img src="/static/images/kaif.jpeg" alt="kaifimage">
            <img src="/static/images/kaif.jpeg" alt="kaifimage">
            <img src="/static/images/kaif.jpeg" alt="kaifimage">
            <img src="/static/images/kaif.jpeg" alt="kaifimage">
            <img src="/static/images/kaif.jpeg" alt="kaifimage">

        </div>
      </div>
    </div>

    {{!-- 5th box start  --}}
      <div class="row boxfivecontent">
        <div class="col-md-12">
          <div class="reviewtitle">
            <h3>Review</h3>
          </div>
          <div class="reviewList">
            <ul>
              <li>Good work, He was very friendly and knowlegeable about his locals </li>
              <li>Good work, He was very friendly and knowlegeable about his locals </li>
              <li>Good work, He was very friendly and knowlegeable about his locals </li>
              <li>Good work, He was very friendly and knowlegeable about his locals </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>


</section>